<div class="main">
  <div class="title">
    <label for="oldpass">Mật khẩu cũ</label>
  </div>
  <div class="input">
    <input
      type="password"
      [(ngModel)]="oldPass"
      id="oldpass"
      placeholder="Mật khẩu cũ"
      (ngModelChange)="eroldPass = ''"
    />
  </div>
  <div class="er">
    {{ eroldPass }}
  </div>
  <div class="title">
    <label for="newpass">Mật khẩu mới</label>
  </div>
  <div class="input">
    <input
      type="password"
      [(ngModel)]="newPass"
      id="newpass"
      placeholder="Mật khẩu mới"
      (ngModelChange)="ernewPass = ''"
    />
  </div>
  <div class="er">
    {{ ernewPass }}
  </div>
  <div class="title">
    <label for="repass">Nhập lại mật khẩu</label>
  </div>
  <div class="input">
    <input
      type="password"
      [(ngModel)]="reNewPass"
      id="repass"
      placeholder="Nhập lại mật khẩu"
      (ngModelChange)="erreNewPass = ''"
    />
  </div>
  <div class="er">
    {{ erreNewPass }}
  </div>
  <div class="action">
    <button (click)="SavePass()">Đổi mật khẩu</button>
  </div>
</div>

<div class="loading" id="loader" *ngIf="waitSave == true">
  <div class="loader"></div>
</div>
