div.main {
  padding: 20px 50px;
  max-width: 600px;
  margin: auto;
  div.title {
    label {
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
  div.input {
    input {
      width: 100%;
      outline: none;
      padding: 5px 10px;
      border-radius: 5px;
      border: solid 1px rgba(175, 168, 168, 0.356);
    }
  }
  div.action {
    button {
      width: 100%;
      outline: none;
      padding: 5px 10px;
      border-radius: 5px;
      border: solid 1px rgba(175, 168, 168, 0.356);
      margin-top: 10px;
      color: white;
      background-color: rgb(226, 43, 74);
      &:hover {
        background-color: rgb(189, 12, 42);
      }
    }
  }
  div.er {
    color: red;
    font-weight: 500;
  }
}
.loading {
    background-color: rgba(255, 255, 255, 0.582);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 99999;
    $colors: hsla(337, 84%, 48%, 0.75) hsla(160, 50%, 48%, 0.75)
      hsla(190, 61%, 65%, 0.75) hsla(41, 82%, 52%, 0.75);
    $size: 2.5em;
    $thickness: 0.5em;
    $lat: calc(($size - $thickness) / 2);
    $offset: $lat - $thickness;
    .loader {
      position: relative;
      width: $size;
      height: $size;
      z-index: 99999;
      transform: rotate(165deg);
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: $thickness;
        height: $thickness;
        border-radius: calc($thickness / 2);
        transform: translate(-50%, -50%);
      }
  
      &:before {
        animation: before 2s infinite;
      }
  
      &:after {
        animation: after 2s infinite;
      }
    }
  
    @keyframes before {
      0% {
        width: $thickness;
        box-shadow: $lat (-$offset) nth($colors, 1),
          (-$lat) $offset nth($colors, 3);
      }
      35% {
        width: $size;
        box-shadow: 0 (-$offset) nth($colors, 1), 0 $offset nth($colors, 3);
      }
      70% {
        width: $thickness;
        box-shadow: (-$lat) (-$offset) nth($colors, 1),
          $lat $offset nth($colors, 3);
      }
      100% {
        box-shadow: $lat (-$offset) nth($colors, 1),
          (-$lat) $offset nth($colors, 3);
      }
    }
  
    @keyframes after {
      0% {
        height: $thickness;
        box-shadow: $offset $lat nth($colors, 2),
          (-$offset) (-$lat) nth($colors, 4);
      }
      35% {
        height: $size;
        box-shadow: $offset 0 nth($colors, 2), (-$offset) 0 nth($colors, 4);
      }
      70% {
        height: $thickness;
        box-shadow: $offset (-$lat) nth($colors, 2),
          (-$offset) $lat nth($colors, 4);
      }
      100% {
        box-shadow: $offset $lat nth($colors, 2),
          (-$offset) (-$lat) nth($colors, 4);
      }
    }
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-300%, -50%);
    }
  }
  