<section class="header">
  <div class="main-header"><h3>Dịch vụ</h3></div>
</section>
<div class="dich-vu">
  <div class="main-dich-vu">
    <div class="item-dich-vu" *ngFor="let item of dichvus">
      <div class="main-item">
        <div class="image">
          <img src="{{ item['image'] }}" alt="" />
        </div>
        <div class="title">
          <a routerLink="demo">{{ item["title"] }}</a>
        </div>
        <div class="detail">
          {{ item["detail"] }}
        </div>
      </div>
    </div>
  </div>
</div>
