<section class="header">
  <div class="main-header"><h3>Tin tức</h3></div>
</section>
<section class="tin-tuc">
  <div class="main-tin-tuc">
    <div *ngFor="let item of tintucs" class="item-tin-tuc">
      <div class="content">
        <div class="image">
          <img src="{{ item['image'] }}" alt="" />
        </div>
        <div class="title">
          <a routerLink=""> {{ item["title"] }}</a>
        </div>
        <div class="detail">
          {{ item["detail"] }}
        </div>
      </div>
    </div>
  </div>
</section>
