.header {
  .main-header {
    padding-bottom: 20px;
    border-bottom: solid 1px rgb(168, 168, 168);
  }
  padding: 0 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  @media (max-width: 400px) {
    padding: 0 10px;
  }
}
.main-tin-tuc {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 45px;
  .item-tin-tuc {
    width: calc(100% / 3);
    padding: 0 10px;
    margin: 10px 0px;
    .content {
      width: 100%;
      background-color: white;
      transition: all 0.3s ease-in-out;
      border-radius: 5px;
      height: 100%;
      .image {
        width: 100%;
        img {
          width: 100%;
          border-radius: 5px;
        }
      }
      .title {
        a {
          margin-top: 5px;
          padding: 0 10px;
          color: black;
          font-weight: 600;
          font-size: 18px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      .detail {
        font-size: 14px;
        padding: 0 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 10px;
      }
      &:hover {
        box-shadow: 0 5px 20px 0 rgb(201, 197, 197);
        transition: all 0.3s ease-in-out;
        .title {
          a {
            color: rgb(63, 131, 57);
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    .item-tin-tuc {
      width: calc(100% / 2);
      padding: 0 10px;
    }
  }
  @media (max-width: 600px) {
    .item-tin-tuc {
      width: 100%;
      padding: 0 10px;
    }
  }
  @media (max-width: 400px) {
    padding: 0 10px;
    .item-tin-tuc {
      width: 100%;
    }
  }
}
